---
- name: Add Argo Helm repo
  connection: local
  kubernetes.core.helm_repository:
    name: argo
    repo_url: https://argoproj.github.io/argo-helm
    kubeconfig: "{{ kubeconfig_path }}"
  
- name: Create Argo CD namespace
  connection: local
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ argocd_namespace }}"
    kubeconfig: "{{ kubeconfig_path }}"
  
- name: Install / upgrade Argo CD via Helm
  connection: local
  kubernetes.core.helm:
    name: argocd
    chart_ref: argo/argo-cd
    chart_version: "{{ argocd_chart_version | default(omit) }}"
    release_namespace: "{{ argocd_namespace }}"
    create_namespace: false
    wait: true
    kubeconfig: "{{ kubeconfig_path }}"

- name: Wait for argocd-secret to exist
  connection: local
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: argocd-secret
    namespace: "{{ argocd_namespace }}"
    kubeconfig: "{{ kubeconfig_path }}"
  register: argocd_secret
  retries: 30
  delay: 10
  until: argocd_secret.resources | length > 0
  

- name: Retrieve Argo CD admin password
  connection: local
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: argocd-secret
    namespace: "{{ argocd_namespace }}"
    kubeconfig: "{{ kubeconfig_path }}"
  register: argocd_secret

- name: Get Argo CD admin secret
  connection: local
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name:  argocd-initial-admin-secret
    namespace: "{{ argocd_namespace }}"
    kubeconfig: "{{ kubeconfig_path }}"
  register: argocd_secret_raw

- name: Decode admin.password
  set_fact:
    argocd_admin_password: >-
      {{ argocd_secret_raw.resources[0].data["password"] | b64decode }}

- name: Show Argo CD admin credentials
  debug:
    msg:
      - "Argo CD URL: https://<your-argocd-server-endpoint>"
      - "Username: admin"
      - "Password: {{ argocd_admin_password }}"
  # Set to true if you don't want the password in logs
  no_log: false