---
- name: Read Raspberry Pi kernel cmdline
  become: true
  ansible.builtin.command: cat /boot/firmware/cmdline.txt
  register: cmdlineContent
  changed_when: false

- name: Enable cgroups in kernel cmdline
  become: true
  ansible.builtin.lineinfile:
    path: /boot/firmware/cmdline.txt
    backrefs: true
    regexp: '^(.*)$'
    line: '\1 cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1'
  when: "'cgroup_enable=memory' not in cmdlineContent.stdout"
  notify: reboot_pi