---
- name: Ensure iptables tools are installed
  become: true
  ansible.builtin.apt:
    name:
      - iptables
      - iptables-persistent
    state: present
    update_cache: yes

- name: Wait for kube-apiserver
  ansible.builtin.wait_for:
    host: "{{ k3s_server_ip }}"
    port: 6443
    delay: 5
    timeout: 200
    state: started


- name: Install k3s worker (agent)
  become: true
  ansible.builtin.shell: curl -sfL https://get.k3s.io | \
      INSTALL_K3S_VERSION={{ version }} \
      K3S_URL={{ api }} \
      K3S_TOKEN="{{ hostvars[groups['masters'][0]].k3s_token }}" 
      K3S_NODE_NAME={{ inventory_hostname }} \
      K3S_KUBECONFIG_MODE="644" \
      sh -s - agent