- name: Generate token only on the first master
  when: inventory_hostname == groups['masters'][0]
  ansible.builtin.set_fact:
    k3s_token: "{{ lookup('password', '/dev/null length=48 chars=ascii_letters,digits') }}"

- name: Set token for all other hosts
  set_fact:
    k3s_token: "{{ hostvars[groups['masters'][0]].k3s_token }}"
